body {
    margin: 0;
        background-color: hsl(185, 41%, 84%)

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header img {
    margin-top: 20px;
}

.tipcalc {
    color: hsl(184, 14%, 56%)
}

form {
    padding-left: 20px;
    padding-top: 30px;
    background-color: white;
    border-radius: 30px;
    width: 98%;
}
input {
    direction: rtl;
    width: 90%;
    border: transparent;
    border-radius: 4px;
    background-color: hsl(189, 41%, 97%);
    height: 35px;
    display: block;
}

h2 {
    font-size: 16px;
}

form > button {
    width: 40%;
    margin: 3px;
    margin-left: 15px;
    height: 40px;
    border: transparent;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    background-color: hsl(183, 100%, 15%);
}

.cus {
    position: relative;
    width: 40%;
    margin: 3px;
    margin-left: 15px;
    height: 40px;
    font-size: 20px;
    display: inline-block;
}

.cus * {
    position: absolute;
}

.cus input {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: inline-block;
    transform: rotatex(150deg);
}

.cus button {
    color: white;
    border-radius: 5px;
    background-color: hsl(183, 100%, 15%);

    width: 100%;
    height: 40px;
    border: transparent;
    display: inline-block;
    font-size: 20px;
}
h3 {
    margin-bottom: 10px;
}
.tn {
    transform: translate(40px, -10px);
}

.tn {
    color: hsl(172, 67%, 45%);
    font-size: 25px;
    display: inline-block;
}

.cost {
    background: hsl(183, 100%, 15%);
    transform: translatex(10px);
    width: 90%;
    padding: 20px;
    height: 240px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 9px;
}

.total,
.ta {
    display: inline-block;
    width: 60%;
}

.cost button {
    display: block;
    width: 90%;
    height: 40px;
    transform: translatex(10px);
    background: hsl(172, 67%, 45%);
    border: transparent;
}

.ds {
    transform: translate(10px, -30px);
}

.error {
    transform: translatey(-15px);
}

header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}